.elixir-black-header {
  height: 35px;
  line-height: 35px;
  background-color: $expands-main; //ExPaNDS color
  background-image: linear-gradient(to right, 225deg, var(--purple), var(--purple-light));//linear-gradient(to right, #1f214b, #113e69);
  border-bottom: 0px solid #eeeeee;

  .user-options {
    float: right;
    a {
      display: block;
      float: left;
      padding: 0 10px;
      color: #dddddd;
      &:hover {
        color: black;
        background: #eee;
      }
    }
  }
}

/* Main header colours for background and Text */
.elixir-orange-header {
  background-color: $expands-main; //ExPaNDS color
  background-image: linear-gradient(to right, 225deg, var(--purple), var(--purple-light));//linear-gradient(to right, #1f214b, #113e69);
  
  ul.navbar-nav {
    margin-top: 10px;
    li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 3px;
      color: #dddddd;
      @media (min-width: $screen-md) {
        border-radius: $nav-pills-border-radius;
      }
    }
  }

  .navbar-brand {
    padding: 0 20px;
  }

  .navbar {
    background-color: var(--purple);//#dddddd; //ExPaNDS color
    background-image: linear-gradient(to right, 225deg, var(--purple), var(--purple-light));//linear-gradient(to right, #1f214b, #113e69);
    margin-bottom: 0px;
  }

}

.navbar-nav .dropdown-menu {
  background-color: #dddddd;
  
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a
{
  color: $expands-main;
}

.navbar-default .navbar-nav>.open>a:focus
{
  color: $expands-main;
  border-radius: $nav-pills-border-radius;
  background-color: #dddddd;
}


/* does not work but the above does
.dropdown-menu > li > a {
color: white;
}
*/
.expands-footer{
  color: #dddddd;
}

.expands-footer-link {
  color: #dddddd;
  a:hover, a:focus {
    color: #dddddd;
    text-decoration: underline;
  }  
}

#search-box {
  input { width: 100% }

  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    input { width: 140px; }
  }
  @media (min-width: $screen-lg) {
    input { width: 220px; }
  }
  /* The following is needed to make the search bar 100% wide between 'sm' and 'md' screen sizes */
  /* See: http://stackoverflow.com/a/24985419 */
  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .input-group {
      width: 100%;
      .input-group-btn {
        width: 32px;
      }
      .form-control {
        width: 100%;
      }
    }
  }
}

