<p>Dear <%= @email %>, welcome to our PaN training catalogue!</p>

<p>You can confirm your PaN training catalogue account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
