<div id="map" class="map"></div>
<img id="marker" src="https://raw.githubusercontent.com/jonataswalker/map-utils/master/images/marker.png" width="50" height="50" />
<div id="popup" class="ol-popup">
<div id="popup-content" class="ol-popup-content"></div>
</div>  
    
 
<script>
function initializeMap() {    
    $.ajax({
        type: 'GET',
        url: '<%= events_url({ format: :json }.merge(search_and_facet_params)).html_safe -%>',
        dataType: 'json',
    }).done(function (res) {
        plotEvents(res)
    }).fail(function (error) {
        console.log("Error: " + error);
    });
        
((win, doc) => {  
 
  doc.getElementById("map").innerHTML = "";
  
  var olview = new ol.View({  
    center: ol.proj.fromLonLat([-2.233948899999973,53.4674583]),
    zoom: 3,  
  });

  var baseLayer = new ol.layer.Tile({
    source: new ol.source.OSM(),
  });
  
  var map = new ol.Map({
    target: doc.querySelector('#map'),
    view: olview,
    layers: [baseLayer],
  });    
  
  $('#map').data('map', map);   
  
  
})(window, document);
 return true;
 
}
</script>

