<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family: sans-serif; width: 100%; -webkit-font-smoothing: antialiased; background-color: #fff">

<%= yield %>

<br/><br/>
<%= link_to(root_url) do %>
    <%= image_tag('ExPaNDS_PaNOSC.png', alt: 'ExPaNDS, PaNOSC logo', title: 'Visit ExPaNDS') %>
<% end %>

</body>
</html>
